.chat-main
 
  .main-header
    .main-header__left-items
      %p.main-header__left-items__group
        test
      %ul.main-header__left-items__member
        Member :
        %li.main-header__left-items__member-list
          shimizu

    .main-header__edit-btn
      = link_to "#", class: "edit-btn" do
        Edit
        
  .messages 
    .message-info
      %p.message-info__contributor
        shimizu
      %p.message-info__date
        2020/03/29(Sun) 17:43:01
    .message-text
      こんにちは
    .message-info
      %p.message-info__contributor
        shimizu
      %p.message-info__date
        2020/03/29(Sun) 17:43:01
    .message-text
      こんにちは

  .form
    .new-message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}